.favoris-container{
    min-height: 90vh;
    // border: solid blue 2px;
    h1{
        text-align: center;
        margin: 1% 0;
    }
    .disconnected-container{
        width: 100%;
        height: 70vh;

        // border: solid red 2px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .list-favoris{
        padding: 0 2%;
  
    }
}